html, body{
	width: 100%;
	height:100%;
}

h1{
	font-family: monospace;
	margin: 30px;
}


.skrollr-container{
	width: 100%;
	height:100%;
	overflow:hidden;
}

/*
.one{
	background-color: green;
}

.two{
	background-color: red;

}
.three{
	background-color: blue;
	
}
.four{
	background-color: yellow;
	
}
.five{
	background-color: white;

}
*/


#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:400%;
	width:20px;
}

.marker{
	width:100%;
	height:25%;
	border: 2px solid black;
}


.box {
	position: fixed;
  background-color: #0074d9;
  height: 100px;
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: .7;
}


#box_2{
	left: 30%;

}

#box_3{
left: 60%;

}

#box_4{
left: 90%;
transition: 0.5s ease;

}