html, body{
	width: 100%;
	height:100%;
}

h1{
	font-family: monospace;
	margin: 30px;
}


.skrollr-container{
	width: 100%;
	height:100%;
	overflow:hidden;
}

/*
.one{
	background-color: green;
}

.two{
	background-color: red;

}
.three{
	background-color: blue;
	
}
.four{
	background-color: yellow;
	
}
.five{
	background-color: white;

}
*/


#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:400%;
	width:20px;
}

.marker{
	width:100%;
	height:25%;
	border: 2px solid black;
}


.ease{
	position: fixed;
	left: 42%;

}


}
